html, body{
	    width: 100%;
	    height: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	button{
		font-size: 32px;
		color: #fff;
		border: 1px solid #46ACC2;
		border-radius: 5px;
	}
	    .tela{
	    	font-size: 32px;
	    	padding-left: 12px;
	    	border: 4px solid #46ACC2;
	    	color:#4A5759;
	    	background-color:#25303133;
	    	text-align: left;
	    	grid-area: tela;
	    	border-radius: 5px;
	    }

	    .tela:focus{
	    	outline: none;
	    	border: 4px solid #46ACC2;
	    }

	    .tela2{
	    	font-size: 25px;
	    	padding-left: 12px;
	    	padding-right: 12px;
	    	border: 4px solid #253031;
	    	background-color:#253031;
	    	color:#fff;
	    	/*margin-top:10px;*/
	    	height:40px;
	    	grid-area: tela2;
	    	border-radius: 5px;

	    }

	    ::placeholder{
	    	color: #fff;
	    }

	    .tela2:focus{
	    	outline: none;
	    	border: 4px solid #46ACC2;
	    	color:#fff;
	    }

	     .division{
	    	background-color:#253031;
	    }

	     .clean{
	    	background-color:#253031;
	    }

	     .cleanAll{
	    	background-color:#253031;
	    }

	     .cleanX{
	    	background-color:#253031;
	    }

	     .oneByX{
	    	background-color:#253031;
	    }

	     .potency{
	    	background-color:#253031;
	    }

	    .squareRoot{
	    	background-color:#253031;
	    }

	    .percentage{
	    	background-color:#253031;
	    }

	    .seven{
	    	background-color: #0E3B43;
	    }

	    .eight{
	    	background-color: #0E3B43;
	    }

	    .nine{
	    	background-color: #0E3B43;
	    }
        
        .multiplication{
        	background-color:#253031;
        }

        .four{
        	background-color: #0E3B43;
        }

        .five{
        	background-color: #0E3B43;
        }

        .six{
        	grid-area: six;
        	background-color: #0E3B43;
        }

        .minus{
        	background-color:#253031;
        }
	    
	    .one{
	    	background-color: #0E3B43;

	    }

	    .two{
	    	background-color: #0E3B43;
	    }

	    .three{
	    	background-color: #0E3B43;
	    }

	    .plus{
	    	background-color:#253031;
	    }

	    .plusOrMinus{
	    	background-color:#253031;
	    }

	    .zero{
	    	background-color: #0E3B43;
	    }

	    .coma{
	    	background-color:#253031;
	    }

	    .equal{
	    	background-color: #357266
	    }

	    .sen{
	       background-color: #357266
	    }

	    .cos{
	       background-color: #357266
	    }

	    .tan{
	       background-color: #357266
	    }

	    .log{
	       background-color: #357266
	    }

		main{
			/*padding: 30px 30px 30px 80px;*/
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			padding: 15px;
			background-color: #0E9594;
			border: 3px solid #0E9594;
			border-radius: 10px;
			width:35%;
			height: 85vh;
			display:grid;
			grid-template-columns:repeat(4,20%);
			grid-template-rows: repeat(100px,9);
			grid-gap: 6px 6px;
			grid-template-areas:"tela2 tela2 tela2 tela2" 
			                     "tela tela tela tela"
			                     "division clean cleanAll cleanX"
			                     "oneByX potency squareRoot percentage"
			                     "sen cos tan log"
			                     "seven eight nine multiplication"
			                     "four five six minus"
			                     "one two three plus"
			                     "plusOrMinus zero coma equal";
		     }

		     @media(max-width: 900px){
		     	main{width: 90%}
		     }